#bmiForm,
#bmiOutput {
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
#bmiForm {
    background-color: #f0f8ff;
}
#bmiOutput {
    background-color: #9fffff;
}
#bmiForm * {
    margin: 0 0 7px 0;
    vertical-align: text-top;
}