@media screen and (max-width: 1000px) {

    /*スマホ用*/

}

@media screen and (min-width: 1000px) {

    /*PC等用*/

    #leftside {
        float:left;
        width:29%;
    }

    #center-right {
        float: right;
        width: 70%;
    }
    #centerside {
        float:left;
        width: 49%;
        /* margin: 0 30%; */
    }
    #rightside {
        float:right;
        width: 49%;
    }

    #footer {
        clear: both;
    }

}

input{font-size:large;}

#bmiForm,
#bmiOutput {
    margin: 5px;
    padding: 15px;
    /* border: 1px solid gray; */
    /* border-radius: 15px; */
}

#bmi {
    background-color: #d0fdff;
    border-radius: 15px;
    font-size: large;
}
#bmiForm * {
    margin: 0 0 5px 0;
    vertical-align: text-top;
}

#inch-centi {
    background-color: #faffb8;
    border-radius: 15px;
    font-size: large;
}

#inch-centiForm {
    margin: 5px;
    padding: 15px;
}

#inch-centiForm * {
    margin: 0 0 5px 0;
    vertical-align: text-top;
}

#yearForm {
    margin: 0 0 0 10%;
    padding: 5px;
    font-size: x-large;
    /* border: 1px solid gray; */
    /* border-radius: 15px; */
}
input[name$="year"]{
    font-size:xx-large;
}
span{padding: 5px;}
#japaneseEra {
    float: left;
    font-size: x-large;
    margin: 10px;
}
#year-relations {
    background-color: #ffd1d1;
    border-radius: 15px;
    font-size: large;
    padding: 15px;
    margin: 5px;
}
#zodiac,
#age {
    margin: 10px;
    padding: 10px 0;
}
#zodiac {
    clear: both;
}
#isLeapYear {
    margin-top: 5px;
    float: right;
    font-size: x-large;
}
#birthYearForm {
    margin: 50px 0 0 14px ;
}

#footer {
    padding: 30px;
    font-size: x-large;
}